<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>CR8OR | Help</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="/stylesheet/help.css?version=2">
  <link rel="apple-touch-icon" href="/images/mainImgIOS.png" />
  <link rel="shortcut icon" href="/images/mainImgAndroid.png" />
</head>

<body>
  <div class="gameZone">
    <header>
      <a href="/"><img src="/images/cr8or.png" alt="" class="title"></a>
    </header>
    <main>
      <nav>
        <button class="nav_btn">시작</button>
        <button class="nav_btn">창조자</button>
        <button class="nav_btn">소환사</button>
        <button class="nav_btn">토템</button>
        <button class="nav_btn">아이템</button>
        <button class="nav_btn">제작</button>
        <button class="nav_btn">거래소</button>
        <button class="nav_btn">캐시샵</button>
        <button class="nav_btn">확률표</button>
        <button class="nav_btn">약관 및 규정</button>
        <button class="nav_btn">문의</button>

      </nav>
      <div class="contentContainer">
        <div style="display: flex;" class="contentPart" id="tutorialPart">
          <p>&nbsp;환영합니다, 창조자님!
            <br>
            CR8OR는 소환사를 통해 아이템을 소환하고, 아이템을 조합하는 게임입니다. 시작 화면을 보며 간단한 소개를 하겠습니다.
          </p>
          <img src="/images/help/tutorial_screen.png" alt="">
          <p>
            <span class="bigFont">1. 메인화면&nbsp;</span>
            <br>
            <span class="bigFont">2. 창조자 정보&nbsp;</span>
            창조자 닉네임, 레벨, 경험치
            <br>
            <span class="bigFont">3. 메인버튼&nbsp;</span>
            각각 홈, 아이템, 제작, 거래소, 캐시샵 화면으로 변경
            <br>
            <span class="bigFont">4. 메뉴버튼&nbsp;</span>
            프로필, 백과사전, 문의, 로그아웃
          </p>
          <br>
          <br>
          <p>&nbsp;<span class="bigFont veryBigFont bigWidthSpan">홈</span></p>
          <img src="/images/help/tutorial_createSummoner.png" alt="">
          <p>먼저, 홈 화면에서 첫번째 소환사를 창조해주세요. 소환사를 클릭하면 해당 소환사의 정보를 볼 수 있습니다.
          </p>
          <img src="/images/help/tutorial_summoner.png" alt="">
          <p>
            <span class="bigFont">1. 소환사 정보&nbsp;</span>
            소환사 레벨, 경험치, 소환 쿨타임(소환 쿨타임마다 소환 아이템 개수 증가 / 기본 쿨타임: 30초), 각성 조건
            <br>
            <span class="bigFont">2. 문양 정보&nbsp;</span>
            소환사 현재 장착 문양 정보 (문양: 소환사 강화 아이템)
            <br>
            <span class="bigFont">3. 축복 정보&nbsp;</span>
            소환사 현재 축복 정보 (축복: 소환사 일시적 강화 아이템)
            <br>
            <span class="bigFont">4. 소환버튼&nbsp;</span>
            축척해놓은 소환 횟수를 모두 소모하고, 아이템 소환
            <br>
            <span class="bigFont">5. 각성버튼&nbsp;</span>
            각성 조건에 부합 시, 소환사 각성
            <br>
            <br>
          </p>
          <img src="/images/help/tutorial_totem.png" alt="">
          <p>
            &nbsp;홈에는 소환사 이외에도 토템이 있습니다. 토템은 모든 소환사들의 능력을 향상시켜주는 기물이므로 이후에 창조 재료들을 모아 토템을 창조하여 소환사의 능력을 극대화시켜주세요.
          </p>
          <br>
          <br>
          <p>&nbsp;<span class="bigFont veryBigFont bigWidthSpan">아이템</span></p>
          <img src="/images/help/tutorial_item.png" alt="">
          <p>
            &nbsp;아이템은 기초 조합 재료인 원소와 힘, 토템 창조 재료인 목재, 소환사를 강화시켜주는 축복과 문양, 특정 아이템들을 조합 가능하게 하는 조합서, 기타로 분류됩니다. 아이템 화면에서
            아이템들의
            정보를 확인하고, 사용할 수 있습니다. 또한, 특정 아이템들은 '오래된 종이 조각'이라는 아이템으로 분해가 가능한데, 이는 이후에 유용하게 사용이 가능한 조합 재료입니다.
          </p>
          <br>
          <br>
          <p>&nbsp;<span class="bigFont veryBigFont bigWidthSpan">제작</span></p>
          <img src="/images/help/tutorial_make.png" alt="">
          <p>
            <span class="bigFont">1. 상단 바&nbsp;</span>
            아이템 분류 및 구분 설정, 문양 강화 화면으로 변경
            <br>
            <span class="bigFont">2. 아이템 목록&nbsp;</span>
            아이템 클릭 시, 정보 확인 및 아이템 제작 가능
            <br>
            <span class="bigFont">3. 제작&nbsp;</span>
            아이템 설명 및 제작 재료 확인, 제작 실행
            <br>
            &nbsp;창조자 레벨에 따라 아이템 등급별 제작 성공 확률이 달라지며, 아이템 등급에 비해 창조자 레벨이 많이 낮은 경우, 제작이 아예 불가능할 수 있습니다. 제작 성공 여부와 별개로 모든
            제작 재료들은 소멸됩니다.
          </p>
          <br>
          <br>
          <p>&nbsp;<span class="bigFont veryBigFont bigWidthSpan">문양 강화</span></p>
          <img src="/images/help/tutorial_enhanceMark.png" alt="">
          <p>
            <span class="bigFont">1. 상단 바&nbsp;</span>
            제작 화면으로 변경
            <br>
            <span class="bigFont">2. 문양 목록&nbsp;</span>
            문양 클릭 시, 정보 확인 및 문양 강화 가능
            <br>
            <span class="bigFont">3. 강화&nbsp;</span>
            문양 설명 및 강화 재료 확인, 강화 실행
            <br>
            &nbsp;문양은 소환사에게 장착 가능한 아이템으로, 소환 쿨타임 감소, 경험치 획득률 증가, 아이템 '창조의 파편'(소환사, 토템의 창조 및 육성에 필요) 획득률 증가, 소환 기준 레벨(소환
            기준 레벨이 높아질수록 높은 등급의 아이템 소환 확률이 증가) 증가를 통해 소환사를 강화시켜주는 아이템입니다. 각 부분에 대해서 최대 +5강까지 강화가 가능하며, 모든 부분들이 강화가 완료되면,
            다음 단계의 문양 제작 재료로 사용 가능합니다.
          </p>
          <br>
          <br>
          <p>&nbsp;<span class="bigFont veryBigFont bigWidthSpan">거래소(구매)</span></p>
          <img src="/images/help/tutorial_buy.png" alt="">
          <p>
            <span class="bigFont">1. 검색 바&nbsp;</span>
            검색 아이템 조건 설정 및 검색, 판매 화면으로 변경, 보유 골드
            <br>
            <span class="bigFont">2. 아이템 목록&nbsp;</span>
            조건에 맞는 아이템 확인 및 구매 가능
            <br>
            <span class="bigFont">3. 페이지 조절&nbsp;</span>
            검색 아이템 페이지 조절
            <br>
            &nbsp;거래소에서 다른 창조자들이 판매 등록한 아이템을 구매할 수 있습니다.
          </p>
          <br>
          <br>
          <p>&nbsp;<span class="bigFont veryBigFont bigWidthSpan">거래소(판매)</span></p>
          <img src="/images/help/tutorial_sell.png" alt="">
          <p>
            <span class="bigFont">1. 상단 바&nbsp;</span>
            보유 아이템 분류 및 판매 목록, 거래소 판매 수수료율, 보유 골드
            <br>
            <span class="bigFont">2. 아이템 목록&nbsp;</span>
            아이템 판매 가능(판매 목록 → 판매 취소 / 판매금 수령 가능)
            <br>
            &nbsp;판매금 수령 시에 상단 바에 있는 거래소 판매 수수료율만큼의 수수료가 지불되므로, 해당 사항 유의하시길 바랍니다.
            <br>
          </p>
          <br>
          <br>
          <p>&nbsp;<span class="bigFont veryBigFont bigWidthSpan">캐시샵</span></p>
          <img src="/images/help/tutorial_cashShop.png" alt="">
          <p>
            &nbsp;캐시를 충전하고, 캐시로 태초의 축복 및 거래소 수수료 인하 티켓을 구매할 수 있습니다.
          </p>
        </div>
        <div style="display: none;" class="contentPart" id="creatorPart">
          <p>제작 중...</p>
        </div>
        <div style="display: none;" class="contentPart" id="summonerPart">
          <p>제작 중...</p>
        </div>
        <div style="display: none;" class="contentPart" id="totemPart">
          <p>제작 중...</p>
        </div>
        <div style="display: none;" class="contentPart" id="itemPart">
          <p>제작 중...</p>
        </div>
        <div style="display: none;" class="contentPart" id="craftPart">
          <p>제작 중...</p>
        </div>
        <div style="display: none;" class="contentPart" id="marketPart">
          <p>제작 중...</p>
        </div>
        <div style="display: none;" class="contentPart" id="cashShopPart">
          <p>제작 중...</p>
        </div>
        <div style="display: none;" class="contentPart" id="rateInfoPart">
          <p><span class="bigFont veryBigFont">아이템 소환</span>
            <br>
            &nbsp;아이템 소환 과정: 등급 설정 → 아이템 설정 (→ 조합서 설정)
            <br>
            아이템 소환 시, 1% 확률로 아이템 '창조의 파편' 획득
          </p>
          <br>
          <p>
            <span class="bigFont bigWidthSpan">등급 설정</span>
            <br>
            (↓: 소수점 내림 적용)
            <br>
            소환 기준 레벨(↓) = 소환사 레벨 + 문양 및 축복 강화
            <br>
            A = (소환 기준 레벨 - 1) / 16
          </p>
          <table style="width: 40%;">
            <tr>
              <td>등급</td>
              <td>A(↓) + 2</td>
              <td>(A - A(↓)) * 100</td>
            </tr>
            <tr>
              <td>확률(%)</td>
              <td>A(↓) + 1</td>
              <td>(1 - A + A(↓)) * 100</td>
            </tr>
          </table>
          <p> <span class="bigFont bigWidthSpan">아이템 설정</span> </p>
          <table style="width: 90%;">
            <tr>
              <td>아이템</td>
              <td>원소: 공기</td>
              <td>원소: 흙</td>
              <td>원소: 물</td>
              <td>원소: 불</td>
              <td>시간의 힘(방울)</td>
              <td>공간의 힘(방울)</td>
              <td>빛의 힘(방울)</td>
              <td>혼돈의 힘(방울)</td>
              <td>나무</td>
              <td>조합서</td>
            </tr>
            <tr>
              <td>확률(%)</td>
              <td>14</td>
              <td>14</td>
              <td>14</td>
              <td>7.8</td>
              <td>14</td>
              <td>14</td>
              <td>14</td>
              <td>7.8</td>
              <td>0.2</td>
              <td>0.2</td>
            </tr>
          </table>
          <p> <span class="bigFont bigWidthSpan">조합서 설정(4등급 이하)</span> </p>
          <table style="width: 50%;">
            <tr>
              <td>조합서</td>
              <td>창조의 숨결</td>
              <td>토템 몸체</td>
              <td>문양</td>
              <td>태초의 축복</td>
              <td>티켓</td>
            </tr>
            <tr>
              <td>확률(%)</td>
              <td>15</td>
              <td>2.5 (총합 10)</td>
              <td>5</td>
              <td>21 (총합 63)</td>
              <td>7</td>
            </tr>
          </table>
          <p> <span class="bigFont bigWidthSpan">조합서 설정(5등급 이상)</span> </p>
          <table style="width: 60%;">
            <tr>
              <td>조합서</td>
              <td>창조의 숨결</td>
              <td>토템 몸체</td>
              <td>문양</td>
              <td>태초의 축복</td>
              <td>티켓</td>
              <td>축복</td>
            </tr>
            <tr>
              <td>확률(%)</td>
              <td>15</td>
              <td>2.5 (총합 10)</td>
              <td>5</td>
              <td>15 (총합 45)</td>
              <td>5</td>
              <td>5 (총합 20)</td>
            </tr>
          </table>
          <p><span class="bigFont veryBigFont">아이템 제작</span>
            <br>
            제작 조건: 3등급 이하 → 조건 X / 4등급 이상 → 창조자 레벨 >= (아이템 등급 - 1) * 10
            <br>
            제작 성공 확률: (0.8^(아이템 등급 - 1)) * (80 + 0.6 * 창조자 레벨)
          </p>
          <br>
          <p><span class="bigFont veryBigFont">문양 강화</span></p>
          <table style="width: 60%;">
            <tr>
              <td>강화 단계</td>
              <td>+0 → +1</td>
              <td>+1 → +2</td>
              <td>+2 → +3</td>
              <td>+3 → +4</td>
              <td>+4 → +5</td>
            </tr>
            <tr>
              <td>확률(%)</td>
              <td>80</td>
              <td>60</td>
              <td>40</td>
              <td>20</td>
              <td>10</td>
            </tr>
          </table>
        </div>
        <div style="display: none;" class="contentPart" id="rulePart">
          <p>제작 중...</p>
        </div>
        <div style="display: none;" class="contentPart" id="inquiryPart">
          <p>문의 → 2life1601-@naver.com(메일)
            <br>
            <br>
            제목 형식: 본인 ID/문의 내용
            <br>
            <br>
            캐시 충전 → 메일 내용: X | 메일 제목: 본인 ID/캐시충전 (띄어쓰기 등의 수정 절대 X) | 대상: 메일 주신 모든 분들 | 충전 캐시: ???
            <br>
            캐시 충전 주의사항: 1주일에 1번만 신청 가능하며, 중복 신청하는 경우, 100% 제외되니 꼭 1주일(기준: 월~일)에 1번만 신청 바랍니다.
            <br>
            <br>
            문의사항은 평일 오후 5~6시쯤 확인하며, 순차적 진행으로 인해 문의 진행 및 답변까지 다소 시간이 걸릴 수 있으며, 문의 내용에 따라 답변이 따로 없을 수도 있는 점 양해 부탁드립니다.
          </p>
        </div>
      </div>
    </main>
  </div>
  <script>
    const navBtns = document.querySelectorAll('.nav_btn')
    const contentParts = document.querySelectorAll('.contentPart')
    navBtns.forEach((btn) => btn.addEventListener('click', () => {
      const btnIndex = Array.from(navBtns).indexOf(btn)
      contentParts.forEach((part) => {
        part.style.display = 'none'
      })
      contentParts[btnIndex].style.display = 'block'
    }))
    const part = '{{part}}'
    let partIndex = [
      "tutorial",
      "creator",
      "summoner",
      "totem",
      "item",
      "craft",
      "market",
      "cashShop",
      "rateInfo",
      "rule",
      "inquiry",
    ].indexOf(part)
    partIndex = partIndex === -1 ? 0 : partIndex
    navBtns[partIndex].click()
    window.addEventListener('load', () => {
      setTimeout(() => {
        window.scrollTo(0, 1)
      }, 100)
    })
  </script>
</body>

</html>